.colorRulesBack {
    height: 100%;
    width: 100%;
    //background: linear-gradient(180deg, rgba(49, 33, 87, 1) 25%, rgb(68, 43, 80) 30%, #fc8f0d 80.5%, #df731bba );
    background-color: $white;
    //#fc8f0d
}

.CN {
    position: absolute;
    height: 100%;
    width: 130%;
    right: 18%;
    padding-bottom: 15%;
    transform: translate(8.7%, 11%);

    z-index: 2000;
}

.CN-BACK {
    position: absolute;
    height: 100%;
    width: 180%;
    transform: translate(-18%, 9%);
    z-index: -1;
}

.rules-container-info{
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;

    div.section-info{
        width: 65%;
        margin: 2rem;
        align-self: stretch;
    }
    .rules-container-info:nth-child(1){
        justify-content: flex-start;
    }
    
}

@media screen and (max-width: 650px){
    .rules-container-info{
        align-items: center;
        justify-content: space-evenly;
        margin-top: 3em;
        div.section-info{
            width: 100%
        }
        div.section-info:nth-child(1){
            margin: 0 auto;
        }
    }
}