.colorFAQBack {
    height: 100%;
    width: 100%;
    // background: linear-gradient(to bottom, #a05162, #227df5);
    background-color: $midblue;
}

.ROM {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 40%;
    top: 40%;
    z-index: 500;
}
