.colorBannerBack {
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(
        to bottom,
        rgba(3, 25, 97, 0.822) 30%,
        rgba(49, 33, 87, 1) 68.5%
    ); */
    background-color: $secondaryblue;
}

.bannerBack {
    overflow: hidden;
}

.cloud{
    width: 20%;
    position: absolute;
    top: 10%;
    right: 0;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/

    &-small{
        position: absolute;
        width: 10%;
        top: 33%;
        right: 77%;
    }
}


.DSQ {
    position: absolute;
    height: 100%;
    width: 170%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 5rem;
    z-index: 500;

    @media (max-height: 700px){
        height:80%;
        transform: translate(-50%, 20%);
    }
}

@media screen and (max-width: 800px){
    .DSQ{
        transform: translate(-50%, 8%);
        height: 110%
    }
}
@media screen and (max-width: 420px){
    .DSQ{
        transform: translate(-50%, 5%);
        height: 140%
    }
}


button.upcoming {
    border-color: rgb(255, 0, 119);
}

div.banner {
    z-index: 500;
}

.intro {
    &-con {
        color: white;
        display: flex;
        position: relative;
        margin-top:25%;
        margin-left: 30%;
        font-family: 'Poppins';

        @media (max-height: 1000px){
            margin-top: 16%;
        }

        @media (max-width: 800px){
            margin-top: 47%;
            margin-left: 16%;
        }

        @media (max-width: 566px){
            flex-flow: wrap;
        }
    }
    
    &-text {
        font-family: 'Poppins';
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > div {
            font-family: inherit;
        }
        
    }
    
    &-img {
        margin-right: 15px;
        width: 200px;
        object-fit: contain;
        @media (max-width: 1300px){
            height: 184px;
        }
        @media (max-width: 992px){
            width: 120px;
        }
        @media (max-width: 600px){
            width: 100px;
        }
    }
    &-hackathon {
        font-size: 90px;
        font-weight: 600;

        line-height: 48px;
        margin-bottom: 10px;
        @media (max-width: 1300px){
            font-size: 60px;
        }
        @media (max-width: 992px){
            font-size: 50px;
        }
    }
    &-slogan {
        font-size: 60px;
        @media (max-width: 1300px){
            font-size: 50px;
        }
        @media (max-width: 992px){
            font-size: 40px;
        }
    }
    &-socials {
    }
    &-newsletter{
        cursor: pointer;
    }
}

.modalContainer{
    margin-left: 40%;
    margin-top: 25%;
}

.modalPaper{
    width: 25%;
    padding: 2rem;
}
