.colorPrevBack {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #df731bba 1%,#ad596d 10%,#544e94 34%,  #a05162 90% );
    //background-color: #24305c;
}

.SLC {
    position: absolute;
    height: 100%;
    width: 70%;
    left: 100%;
    transform: translate(-50%, 0);
    padding-top: 5rem;
    z-index: 500;
}

.SLC-BACK {
    position: absolute;
    height: 100%;
    width: 200%;
    transform: translate(-20%, 0);
    z-index: 300;
}

.statistics {
    width: 70%;
    z-index: 100;
    position: absolute;
    right: 50%;
}
