.colorPrevBack {
    height: 100%;
    width: 100%;
    //background: linear-gradient(180deg, #df731bba 1%,#ad596d 10%,#544e94 34%,  #a05162 90% );
    background-color: #24305c;
}

.SLC {
    position: absolute;
    height: 100%;
    width: 70%;
    left: 100%;
    transform: translate(-50%, 0);
    padding-top: 5rem;
    z-index: 500;

    @media (max-width: 1272px){
        transform: translate(-50%, 5%);
    }
    @media (max-width: 1200px){
        transform: translate(-50%, 17%);
    }
    @media (max-width: 991px){
        transform: translate(-50%, 34%);
    }
    @media (max-width: 650px){
        transform: translate(-77%, 42%);
    }
    @media (max-width: 500px){
        transform: translate(-77%, 52%);
    }
    @media (max-width: 400px){
        transform: translate(-77%, 60%);
    }
}

.SLC-BACK {
    position: absolute;
    height: 100%;
    width: 200%;
    transform: translate(-20%, 0);
    z-index: 300;
    @media (max-width: 1200px){
        transform: translate(-20%, 15%);
    }
    @media (max-width: 991px){
        transform: translate(-20%, 43%);
    }
    @media (max-width: 650px){
        transform: translate(-20%, 49%);
    }
    @media (max-width: 500px){
        transform: translate(-20%, 60%);
    }
    @media (max-width: 400px){
        transform: translate(-20%, 65%);
    }
}

.statistics {
    width: 70%;
    z-index: 100;
    position: absolute;
    right: 50%;
}
