.colorSponsorsBack {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #227DF5, #080a15 );
}

.AGO {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    transform: translate(45%, 35%);
    // padding-top: 5rem;
    z-index: 500;
}

.sponsor{
    width: fit-content;
    height: fit-content;
    margin-right: 1em;
    
    &-container{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        background-color: white;
        padding: 3em;
        margin-top: 3rem;

        @media (max-width: 770px){
            width: 50%;
        }

        a{
            padding: 2rem;
        }

        img{
            max-width: 300px;
            max-height: 200px;
            display: inline-block;
            vertical-align: middle;
        }
        @media screen and (max-width: 1300px){
            img{
                max-width: 150px;
                max-height: 100px;
            }
        }
    }
    &-section{
        height: fit-content;
        padding-bottom: 10rem;
    }
}
