.MuiSvgIcon-root {
    cursor: pointer;
}

.section-info {
    flex: 1 1 300px;
    text-align: center;
    color: white;
    background-color: rgba(29, 34, 66, 0.95);
    border-radius: 5px;
    padding: 20px;
    position: relative;
    height: fit-content;
    div.inner-box-div.hover {
        cursor: pointer;
    }
    &__title {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}
.arrow-hover {
    transition: all 1s ease;
}

.arrow-hover {
    transition: transform 0.2s linear;
}

.arrow-hover.open {
    transform: rotate(180deg);
    transition: transform 0.2s linear;
}

// the one in use
.arrow-click {
    transition: transform 0.3s linear, top 0.3s;
    transform: rotate(0deg);
    position: relative;
    top: 0;
    &.open {
        top: -6px;
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 992px) {
    .section-info {
        width: 100%;
        margin-bottom: 1em;
        margin-top: 1em;
    }
}

hr {
    border: 0;
    border-bottom: solid 2px white;
    margin: 1em 0;
}
.inner-box-div {
    transition: max-height 0.5s;
    max-height: 0;
    overflow-y: hidden;
    &.open {
        max-height: 350px;
    }
}
.pmopen {
    max-height: unset !important;
}
