.MuiSvgIcon-root{
    cursor: pointer;
}

.section-info {
    text-align: center;
    color: white;
    background-color: $primaryblue;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    width: 25%;
    position: relative;
}

hr{
    border: 0;
    border-bottom: solid 2px white;
    margin: 1em 0 ;
}