.mobile {
    &-hide {
        @include mobileq() {
            display: none;
        }
    }
    &-show {
        display: none;
        @include mobileq() {
            display: flex;
        }
    }
}
