.team{
    background-color: #8870c1b7;
    color:white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    &-members{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    &-person{
        margin: 2em;
        &-photo{
            width: 250px !important; 
            height: 250px !important;
            border-radius: 6px;
            
        }

        @media screen and (max-width: 1316px) {
            &-photo{
                width: 150px !important; 
                height: 150px !important;
            }
        }

        @media screen and (max-width: 758px) {
            &-photo{
                width: 50px !important; 
                height: 50px !important;
            }
        }
        
            
        
        &-name, &-descript{
            text-align: center;
        }

    }
    &-group{
        text-align: center;
        width: 100%;
    }
}

.Carousel-root-1 {
    width: 100%
}