.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

$left_clouds: 5;
$right_clouds: 5;


@keyframes movecloudsRight
{
    100% {
        right: -75%;
    }
}
@keyframes movecloudsLeft {
    100% {
      left: -75%;
    }
}

@for $i from 0 through $left_clouds {
  img.cloud-left:nth-child(#{$i + 1}) {
     left: random(150) / 150 * 100% + 100%;
     top: random(90) / 90 * 50%;
     transform: scale(random(2) - 0.5);
     opacity: random(60) / 100;
     animation: movecloudsLeft random(20) + 55 + s linear infinite;
  }

}


@for $a from 4 through 9 {
    img.cloud-right:nth-child(#{$a + 1}){
        right: random(150) / 150 * 100% + 100%;
        top: random(100) / 100 * 50%;
        transform: scale(random(2) - 0.3);
        opacity: random(60) / 100;
        animation: movecloudsRight random(20) + 55 + s linear infinite;
    }
}
